<form class="form new-blog-form">
      <div class="form-group">
        <label for="blog-title">Blog title:</label>
        <input class="form-input" type="text" id="blog-title" name="blog-title" />
      </div>
      <div class="form-group">
        <label for="blog-desc">Description:</label>
        <textarea class="form-input" id="blog-desc" name="blog-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btnSubmit">Create</button>
      </div>
    </form>
  </div>

</div>



<script src="./js/blog.js"></script>
