<div class="card">
    <h3 class="card-header">Edit Post</h3>
    <form class="card-body edit-exercise-form" id="edit-exercise-form">
        <div class="form-floating mb-3">
        <label for="exercise-title" class="form-label">Title</label>
        <input name="exercise-title" type="text" placeholder="{{exercise.title}}" class="form-input w-100" />
        </div>

        <div class="form-floating mb-3">
        <label class="form-label" for="content">Content</label>
        <textarea name="content" type="text" placeholder="{{exercise.content}}" class="form-input w-100" style="height: 100px"/></textarea>
        </div>

        <button type="submit" class="w-100 btn btn-lg btn-info mb-3">Update Post</button>
        <button type="button" class="delete-exercise-btn w-100 btn btn-lg btn-danger mb-3">Delete Post</button>
    </form>
</div>


<script src="/js/edit-exercise.js"></script>
<script src="/js/delete-exercise.js"></script>