<div class="row justify-content-around">
    <h1>Your workouts</h1>
    p>Please select from the following</p>
</div>

<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#">Workouts</a>
    <a href="#">Exercises</a>
    <a href="#">Reps</a>
    <a href="#">Sets</a>
  </div>
</div>



<script src="/js/add-exercise.js"></script>
