<div class="row justify-content-around">
    <h1>Your workouts</h1>
    <p>Please select from the following</p>

</div>

<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#">Workouts</a>
    <a href="#">Exercises</a>
    <a href="#">Reps</a>
    <a href="#">Sets</a>
  </div>
</div>

<table style="width:100%" class="table table-striped table-light table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Workouts</th>
      <th>Reps</th>    
      <th>Sets</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Deadlift</td>
      <td>9</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Squats</td>
      <td>10</td>
      <td>4</td>
    </tr>
    <tr>
      <td>Push Ups</td>
      <td>6</td>
      <td>2</td>
    </tr>
  </tbody>
</table>

<script src="/js/add-exercise.js"></script>
