{{#if exercise.length}}
<section>
  <h2>Post History</h2>
    {{#each exercise as |exercise|}}
      {{> exerciseDashboard-exercise.info exercise}}
    {{/each}}

</section>
{{/if}}

<button type="submit" class="btn"><a class="link" href="/exerciseDashboard/new">Add New exercise</a></button>