<div class="row justify-content-around">
    <h1>Your workouts</h1>
<<<<<<< HEAD
    p>Please select from the following</p>
=======
    <p>xxxxxx</p>
>>>>>>> main
</div>

<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#">Workouts</a>
    <a href="#">Exercises</a>
    <a href="#">Reps</a>
    <a href="#">Sets</a>
  </div>
</div>

<table style="width:100%">
  <tr>
    <th></th>
    <th></th>
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
</table>

<script src="/js/add-exercise.js"></script>
