<div class="row justify-content-around">
    <h1>Your workouts {{name}}</h1>
    <h2>Today's Workouts</h2>
    <p>Please select from the following</p>
</div>

<script src="/js/add-exercise.js"></script>
