<div class="row justify-content-around">
    <h1>Your workouts</h1>
    <p>Please select from the following</p>

</div>

<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#">Workouts</a>
    <a href="#">Exercises</a>
    <a href="#">Reps</a>
    <a href="#">Sets</a>
  </div>
</div>

<table style="width:100%">
  <tr>
    <th>Workouts</th>
    <th>Reps</th>    
    <th>Sets</th>
  </tr>
  <tr>
    <td>Deadlift</td>
    <td>9</td>
    <td>3</td>
  </tr>
  <tr>
    <td>Squats</td>
    <td>10</td>
    <td>4</td>
  </tr>
  <tr>
    <td>Push Ups</td>
    <td>6</td>
    <td>2</td>
  </tr>
</table>

<form>
  <label for="createWorkout">Create Workout:</label><br>
  <input type="text" id="createWorkout" name="createWorkout"><br>
  <label for="workoutDescription">Workout Description:</label><br>
  <input type="text" id="workoutDescription" name="workoutDescription">
</form>

<script src="/js/add-exercise.js"></script>
