
<div class="col-auto">
        <h2>Welcome, {{name}}!</h2>
      </div>
    </div>
    
    {{#if blogs.length}}
    <div class="col-md-2 post-list user_card">
      <h3>Your Posts:</h3>
  
      {{#each blogs as |blog|}}
      <div class="row mb-2">
        <div class="col-md-8">
          <h4><a href="/blog/{{blog.id}}">{{blog.name}}</a></h4>
        </div>
        <div class="col-md-4">
            <button class="btn btn-sm btn-danger" data-id="{{blog.id}}">DELETE</button>
        </div>
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>

    <form class="form new-post-form user_card">
        <div class="form-post">
          <label for="blog-title">Title</label>
          <input class="form-input" type="text" id="blog-name" name="blog-name" />
        </div>
        <div class="form-group">
          <label for="blog-desc">description:</label>
          <textarea class="form-input" id="blog-desc" name="blog-desc"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  
    
        
    <script src="/js/homepage.js"></script>