{{!-- <div class="brand_logo_container">
    <img class="brand_logo" src='assets/img/sweatmate-logo.jpg' alt='sweat-logo'/>
  </div> --}}

<body>
  <div class="row justify-content-around">
    <div class="col-md-6 mb-5">
      <form class="form-signin login-form">
        <h2 class="mb-4 font-weight-bold">Login</h2>
            <label for="email-login" class="sr-only">Email:</label>
            <input type="email" id="email-login" class="form-control mb-3" placeholder="Email" required autofocus>
        <label for="password-login" class="sr-only">Password:</label>
        <input type="password" id="password-login" class="form-control mb-3" placeholder="Password" required>

        <button class="btn btn-lg btnSubmit" type="submit">Login</button>
      </form>
    </div>

    <div class="col-md-6">
      <form class="form-signin signup-form">
        <h2 class="h3 mb-4 font-weight-bold">Signup</h2>
        <label for="name-signup" class="sr-only">Name</label>
        <input type="name" id="name-signup" class="form-control mb-3" placeholder="Name" required autofocus>
        <label for="email-signup" class="sr-only">Email</label>
        <input type="email" id="email-signup" class="form-control mb-3" placeholder="Email" required>
        <label for="password-signup" class="sr-only">Password</label>
        <input type="password" id="password-signup" class="form-control mb-3" placeholder="Password" required>
        <button class="btn btn-lg btnSubmit" type="submit">Signup</button>
      </form>
    </div>
  </div>

</body>


<script src="./js/login.js"></script>
