<div class='container form-container'>
  <div class='row'>
    <div class='col-md-6 login-form'>
      <h3>Login</h3>
      <div class='form-group'>
        <label for='email-login'>Email:</label>
        <input
          type='text'
          class='form-control'
          placeholder=''
          id='email-login'
        />
      </div>
      <div class='form-group'>
        <label for='password-login'>Password:</label>
        <input
          type='password'
          class='form-control'
          placeholder=''
          id='password-login'
        />
      </div>
      <div class='form-group'>
        <input type='submit' class='btnSubmit' value='Login' />
      </div>
    </div>
    <div class='col-md-6 signup-form'>
      <div class='login-logo'>
        <img src='assets/logo.png' alt='sweat-logo' />
      </div>
      <h3>Signup</h3>
      <div class='form-group'>
        <label for='name-signup'>Name:</label>
        <input type='text' class='form-control' id='name-signup' />
      </div>
      <div class='form-group'>
        <label for='email-signup'>Email:</label>
        <input
          type='text'
          class='form-control'
          placeholder=''
          id='email-signup'
        />
      </div>
      <div class='form-group'>
        <label for='password-signup'>Password:</label>
        <input
          type='password'
          class='form-control'
          placeholder=''
          id='password-signup'
        />
      </div>
      <div class='form-group'>
        <input type='submit' class='btnSubmit' value='Signup' />
      </div>
    </div>
  </div>
</div>

<script src='./js/login.js'></script>