:root {
    --navylook: #131b27;
    --redlook: #ff3600;
}

body {
    background-color: var(--navylook);
}

header {
    border-bottom: var(--redlook) solid 2px;
    color: var(--redlook);
    font-family: 'Amatic SC', cursive;
    text-align: center;
}

img {
    border-radius: 50%;
    border: 2px solid white;
}

#form-container {
    background-color: var(--navylook);
    border: solid 2px var(--redlook);
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}