:root {
    --navylook: #131b27;
    --redlook: #ff3600;
  }
  
  body {
    background-color: var(--navylook);
    font-family: 'Rubik', sans-serif;
    color: white;
    padding: 30px;
  }
  
  header {
    border-bottom: var(--redlook) solid 2px;
    color: var(--redlook);
    text-align: center;
  }

  nav {
    color: white;
  }

  /* login page */

  .row {
    margin-top: 50px;
    padding: 20px;
  }

  .btnSubmit {
    font-weight: 600;
    width: 50%;
    color: white;
    background-color: var(--redlook);
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
  }